# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]
uvicorn[standard]
gunicorn

asyncpg

sqlalchemy
sqlalchemy_utils

pydantic
starlette
strawberry-graphql
click
aiodataloader
websockets

bokeh
panel
pandas
nvconvert
streamlit
streamlit-cookies-controller

matplotlib

aiohttp
requests
pyjwt[crypto]
prometheus-client
prometheus_fastapi_instrumentator